In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\rahul.nair\\Desktop\\Datasets\\salary.csv')

In [10]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [21]:
x = df.iloc[:,0:1].values

In [25]:
y = df.iloc[:,-1].values

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
lr = LinearRegression()

In [28]:
lr.fit(x,y)

LinearRegression()

In [32]:
lr.predict([[5]])

array([73042.01180594])